#hearder {  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    a {
        color: white;
        text-decoration: none;
        transition: 0.5s;
        transform: scale(0.95);
       &:hover{
        color: $cl_green;   
        transform: scale(1);   
       }        
    }   
}